/* Reset ringan */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Container utama */
.container {
    width: 90%;
    max-width: 900px;
    margin: 30px auto;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #008CFF, #051936);
    min-height: 100vh;
    color: white;
    display: flex;
    height: 100vh;
}

.nav-link {
    position: relative;
    color: #fff;
    /* warna teks putih */
    text-decoration: none;
    transition: all 0.3s ease;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    /* underline putih */
    transition: width 0.3s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
    width: 100%;
}