<div class="d-flex align-items-center mb-3 px-3">
    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="me-2 rounded" style="height: 35px;">
</div>

<h6 class="text-uppercase text-secondary mt-3 px-3">Menu</h6>
<ul class="nav flex-column mb-3">
<li class="nav-item">
        <a href="/dashboard" class="nav-link text-light {% if request.path == '/dashboard' %}active{% endif %}"><i
                class="fi fi-rr-home"></i> Beranda</a>
    </li>
    </li>
    <li class="nav-item">
        <a href="/not-available" class="nav-link text-light"> <i class="fi fi-rr-users-alt"></i> Rapat</a>
    </li>
    <li class="nav-item">
        <a href="/not-available" class="nav-link text-light"> <i class="fi fi-rs-user-robot"></i> AI</a>
    </li>
    <li class="nav-item">
        <a href="/not-available" class="nav-link text-light"> <i class="fi fi-rs-envelope-plus"></i> Kotak Masuk</a>
    </li>
</ul>

<h6 class="text-uppercase text-secondary mt-3 px-3">Privat</h6>
<ul class="nav flex-column mb-3">
    <li class="nav-item">
        <a href="/not-available" class="nav-link text-light"><i class="fi fi-rr-user"></i> Profile</a>
    </li>
    <li class="nav-item">
        <a href="/not-available" class="nav-link text-light"> <i class="fi fi-ts-book-bookmark"></i> Tambah Catatan Baru</a>
    </li>
</ul>

<h6 class="text-uppercase text-secondary mt-3 px-3">Team Workspace</h6>
<ul class="nav flex-column mb-3">
    <li class="nav-item">
        <a href="/not-available" class="nav-link text-light"> <i class="fi fi-rr-house-building"></i> Proyek</a>
    </li>
    <li class="nav-item">
        <a href="/not-available" class="nav-link text-light"> <i class="fi fi-rs-crane-building"></i> Tambah Proyek</a>
    </li>
</ul>

<h6 class="text-uppercase text-secondary mt-3 px-3">Lainnya</h6>
<ul class="nav flex-column mb-3">
    <li class="nav-item">
        <a href="/not-available" class="nav-link text-light"> <i class="fi fi-rr-settings"></i> Pengaturan</a>
    </li>
    <li class="nav-item">
        <a href="/not-available" class="nav-link text-light"> <i class="fi fi-rs-trash"></i> Sampah</a>
    </li>
    <li class="nav-item">
        <a href="/logout" class="nav-link text-light"> <i class="fi fi-ts-leave"></i> Logout</a>
    </li>
</ul>